@import url("https://use.typekit.net/zzj4qmz.css");

:root {
    --color-dark: #222222;
    --color-default: #000000;
    --color-white: #ffffff;
    --color-gray: #666666;
    --color-paddle: rgba(255, 255, 255, 0.45);
    --color-dot: rgba(255, 255, 255, 0.65);
    --color-selected: #bb2649;
    --color-shadow: rgba(0, 0, 0, 0.2);
    --ease-circ-out: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    --ease-circ-in-out: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    --ease-quad-in-out: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    --ease-sine-out: cubic-bezier(0.390, 0.575, 0.565, 1.000);
    --ease-sine-in-out: cubic-bezier(0.445, 0.050, 0.550, 0.950)
}

/*-- Reset. --*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, main, hgroup, menu, nav, section {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

a, abbr, address, article, aside, audio, b, blockquote, body, br, button, canvas, caption, cite, code, col, data, datalist, dd, del, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, html, i, iframe, img, input, ins, kbd, label, legend, li, main, mark, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, select, small, span, strong, sub, sup, table, td, textarea, th, time, u, ul, var, video {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

html {
    -ms-content-zooming: none;
    -ms-touch-action: pan-x pan-y
}

body {
    -webkit-text-size-adjust: none
}

fieldset, img {
    border: 0 none
}

dl, ul, ol, menu, li {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none
}

input, select, textarea, button {
    font-size: 100%;
    vertical-align: middle;
    outline: none
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input[type="text"], input[type="tel"], input[type="password"], input[type="submit"], input[type="search"], input[type="number"] {
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color .1s ease, border-color .1s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input:checked[type="checkbox"] {
    background-color: var(--color-dark);
    -webkit-appearance: checkbox
}

button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {
    -webkit-appearance: button;
    border-radius: 0
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

input[type="date"] {
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type="date"]:invalid::-webkit-datetime-edit {
    color: var(--color-dark)
}

input[type="date"]::-webkit-clear-button {
    display: none
}

input[type="date"]::-webkit-inner-spin-button {
    display: none
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--color-dark)
}

input[type="date"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important
}

textarea {
    background-color: transparent;
    border: none;
    resize: none
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a, a:active, a:hover {
    text-decoration: none
}

address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: 400
}

i {
    font-style: normal
}

a, button {
    position: relative;
    -webkit-tap-highlight-color: transparent
}

input {
    border-radius: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1
}

a {
    color: var(--color-dark);
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out
}

a:focus, input:focus, textarea:focus, button:focus {
    outline: none
}

.blind {
    overflow: hidden;
    display: none;
    visibility: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0
}

html, body, th, td, input, select, textarea, button {
    color: var(--color-dark);
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: futura-pt, 'Apple SD Gothic Neo', AppleSDGothicNeo, 'Malgun Gothic', '맑은 고딕', Roboto, 'Helvetica Neue', '애플 SD 산돌고딕 Neo', dotum, gulim, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5rem
}

select, button {
    user-select: none;
    -webkit-user-select: none
}

::-moz-selection {
    background: var(--color-default);
    text-shadow: none;
    color: var(--color-white)
}

::selection {
    background: var(--color-default);
    text-shadow: none;
    color: var(--color-white)
}

.visually-hidden {
    display: none !important;
    visibility: hidden !important;
    width: 0;
    height: 0;
    clip: rect(0, 0, 0, 0);
    pointer-events: none
}

/*-- Layout. --*/
.wrap {
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-default);
    justify-content: center
}

.image-gallery {
    position: relative;
    width: 1000px;
    height: 625px;
    margin-right: auto;
    margin-left: auto
}

.image-gallery .image-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%
}

.image-gallery .image-container {
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    height: 100%
}

.image-gallery .image-container .image-item {
    position: relative;
    height: 100%;
    flex-shrink: 0
}

.image-gallery .image-container .image-item figure {
    overflow: hidden;
    width: 100%;
    height: 100%
}

.image-gallery .image-container .image-item figure img {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    user-select: none;
    -webkit-user-select: none;
    user-drag: none;
    -webkit-user-drag: none
}

.image-gallery .paddle-nav {
}

.image-gallery .paddle-nav button.btn-paddle {
    display: -webkit-box;
    display: flex;
    position: absolute;
    z-index: 100;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--color-paddle);
    border-radius: 50%;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 16px;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    box-shadow: 0 1px 3px var(--color-shadow);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    transition: background-color 180ms ease-in-out, color 180ms ease-in-out;
    -webkit-transition: background-color 180ms ease-in-out, color 180ms ease-in-out;
    -moz-transition: background-color 180ms ease-in-out, color 180ms ease-in-out;
    -o-transition: background-color 180ms ease-in-out, color 180ms ease-in-out
}

.image-gallery .paddle-nav button.btn-paddle:disabled {
    opacity: 0;
    cursor: default;
    pointer-events: none
}

.image-gallery .paddle-nav button.btn-paddle:not(:disabled):hover {
    background-color: var(--color-selected);
    color: var(--color-white)
}

.image-gallery .paddle-nav button.btn-paddle.paddle-previous {
    left: 20px
}

.image-gallery .paddle-nav button.btn-paddle.paddle-next {
    right: 20px
}

.image-gallery .dot-nav {
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 30px;
    left: 0
}

.image-gallery .dot-nav ul {
    display: -webkit-box;
    display: flex;
    justify-content: center
}

.image-gallery .dot-nav li {
    padding-right: 6px;
    padding-left: 6px;
    line-height: 8px
}

.image-gallery .dot-nav li button.btn-dot {
    overflow: hidden;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--color-dot);
    border-radius: 50%;
    vertical-align: top;
    text-indent: -9999rem;
    line-height: 8px;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: 0 1px 3px var(--color-shadow);
    transition: background-color 180ms var(--ease-quad-in-out);
    -webkit-transition: background-color 180ms var(--ease-quad-in-out);
    -moz-transition: background-color 180ms var(--ease-quad-in-out);
    -o-transition: background-color 180ms var(--ease-quad-in-out)
}

.image-gallery .dot-nav li button.btn-dot:disabled {
    cursor: default
}

.image-gallery .dot-nav li button.btn-dot.selected {
    background-color: var(--color-selected)
}

.image-gallery + .image-gallery-thumbnails {
    margin-top: 50px
}

.image-gallery-thumbnails {
    margin-right: auto;
    margin-left: auto
}

.image-gallery-thumbnails ul {
    display: -webkit-box;
    display: flex;
    margin-right: -15px;
    margin-left: -15px
}

.image-gallery-thumbnails li {
    padding-right: 15px;
    padding-left: 15px
}

.image-gallery-thumbnails li button.btn-thumbnail {
    overflow: hidden;
    position: relative;
    display: block;
    width: 120px;
    height: 75px;
    cursor: pointer
}

.image-gallery-thumbnails li button.btn-thumbnail::before,
.image-gallery-thumbnails li button.btn-thumbnail::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    box-sizing: border-box
}

.image-gallery-thumbnails li button.btn-thumbnail::before {
    background-color: transparent;
    transition: background-color 180ms ease-in-out;
    -webkit-transition: background-color 180ms ease-in-out;
    -moz-transition: background-color 180ms ease-in-out;
    -o-transition: background-color 180ms ease-in-out
}

.image-gallery-thumbnails li button.btn-thumbnail::after {
    border: 0 solid var(--color-selected);
    transition: border 180ms var(--ease-sine-out);
    -webkit-transition: border 180ms var(--ease-sine-out);
    -moz-transition: border 180ms var(--ease-sine-out);
    -o-transition: border 180ms var(--ease-sine-out)
}

.image-gallery-thumbnails li button.btn-thumbnail img {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    user-select: none;
    -webkit-user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    transition: transform 500ms var(--ease-circ-out);
    -webkit-transition: -webkit-transform 500ms var(--ease-circ-out);
    -moz-transition: -moz-transform 500ms var(--ease-circ-out);
    -o-transition: -o-transform 500ms var(--ease-circ-out)
}

.image-gallery-thumbnails li button.btn-thumbnail.selected {
    cursor: default
}

.image-gallery-thumbnails li button.btn-thumbnail.selected {
}

.image-gallery-thumbnails li button.btn-thumbnail:hover::after,
.image-gallery-thumbnails li button.btn-thumbnail.selected::after {
    border-width: 4px
}

.image-gallery-thumbnails li button.btn-thumbnail:hover::after,
.image-gallery-thumbnails li button.btn-thumbnail.selected::after {
    transition: border 220ms var(--ease-quad-in-out);
    -webkit-transition: border 220ms var(--ease-quad-in-out);
    -moz-transition: border 220ms var(--ease-quad-in-out);
    -o-transition: border 220ms var(--ease-quad-in-out)
}

.image-gallery-thumbnails li button.btn-thumbnail:hover::before,
.image-gallery-thumbnails li button.btn-thumbnail.selected::before {
    background-color: rgba(255, 255, 255, 0.1)
}

.image-gallery-thumbnails li button.btn-thumbnail:hover img,
.image-gallery-thumbnails li button.btn-thumbnail.selected img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05)
}

.image-gallery-thumbnails li button.btn-thumbnail:hover img,
.image-gallery-thumbnails li button.btn-thumbnail.selected img {
    transition: transform 800ms var(--ease-sine-in-out);
    -webkit-transition: -webkit-transform 800ms var(--ease-sine-in-out);
    -moz-transition: -moz-transform 800ms var(--ease-sine-in-out);
    -o-transition: -o-transform 800ms var(--ease-sine-in-out)
}
