@import url("https://use.typekit.net/zzj4qmz.css");

:root {
    --color-dark: #222222;
    --color-default: #000000;
    --color-white: #ffffff;
    --color-cursor-dot: #ff285f;
    --ease-quad-in-out: cubic-bezier(0.455, 0.030, 0.515, 0.955)
}

/*-- Reset. --*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, main, hgroup, menu, nav, section {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

a, abbr, address, article, aside, audio, b, blockquote, body, br, button, canvas, caption, cite, code, col, data, datalist, dd, del, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, html, i, iframe, img, input, ins, kbd, label, legend, li, main, mark, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, select, small, span, strong, sub, sup, table, td, textarea, th, time, u, ul, var, video {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

html {
    -ms-content-zooming: none;
    -ms-touch-action: pan-x pan-y
}

body {
    -webkit-text-size-adjust: none
}

fieldset, img {
    border: 0 none
}

dl, ul, ol, menu, li {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none
}

input, select, textarea, button {
    font-size: 100%;
    vertical-align: middle;
    outline: none
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input[type="text"], input[type="tel"], input[type="password"], input[type="submit"], input[type="search"], input[type="number"] {
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color .1s ease, border-color .1s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input:checked[type="checkbox"] {
    background-color: var(--color-dark);
    -webkit-appearance: checkbox
}

button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {
    -webkit-appearance: button;
    border-radius: 0
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

input[type="date"] {
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type="date"]:invalid::-webkit-datetime-edit {
    color: var(--color-dark)
}

input[type="date"]::-webkit-clear-button {
    display: none
}

input[type="date"]::-webkit-inner-spin-button {
    display: none
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--color-dark)
}

input[type="date"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important
}

textarea {
    background-color: transparent;
    border: none;
    resize: none
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a, a:active, a:hover {
    text-decoration: none
}

address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: 400
}

i {
    font-style: normal
}

a, button {
    position: relative;
    -webkit-tap-highlight-color: transparent
}

input {
    border-radius: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1
}

a {
    color: var(--color-dark);
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out
}

a:focus, input:focus, textarea:focus, button:focus {
    outline: none
}

.blind {
    overflow: hidden;
    display: none;
    visibility: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0
}

html, body, th, td, input, select, textarea, button {
    color: var(--color-dark);
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: futura-pt, 'Apple SD Gothic Neo', AppleSDGothicNeo, 'Malgun Gothic', '맑은 고딕', Roboto, 'Helvetica Neue', '애플 SD 산돌고딕 Neo', dotum, gulim, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5rem
}

select, button {
    user-select: none;
    -webkit-user-select: none
}

::-moz-selection {
    background: var(--color-default);
    text-shadow: none;
    color: var(--color-white)
}

::selection {
    background: var(--color-default);
    text-shadow: none;
    color: var(--color-white)
}

.visually-hidden {
    display: none !important;
    visibility: hidden !important;
    width: 0;
    height: 0;
    clip: rect(0, 0, 0, 0);
    pointer-events: none
}

/*-- Layout. --*/
section.section {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-default);
}

section.section .image-list {
    display: -webkit-box;
    display: flex;
    max-width: 1440px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: center;
    align-items: center
}

section.section .image-list ul {
    display: -webkit-box;
    display: flex;
    width: 100%;
    margin-right: -20px;
    margin-left: -20px
}

section.section .image-list li {
    width: 25%;
    padding-right: 20px;
    padding-left: 20px
}

section.section .image-list li a {
    display: block;
    width: 100%;
    cursor: pointer
}

section.section .image-list li a figure {
    display: block;
    width: 100%
}

section.section .image-list li a figure img {
    display: inline-block;
    width: 100%;
    vertical-align: top
}

#cursor-dot,
#cursor-bg,
#select {
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%)
}

#cursor-dot {
    z-index: 300;
    width: 4px;
    height: 4px;
    background-color: var(--color-cursor-dot);
    border-radius: 50%
}

#cursor-bg {
    z-index: 100;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-dark);
    border-radius: 50%;
    transition: width 200ms var(--ease-quad-in-out), height 200ms var(--ease-quad-in-out), background-color var(--ease-quad-in-out), border-color 200ms var(--ease-quad-in-out);
    -webkit-transition: width 200ms var(--ease-quad-in-out), height 200ms var(--ease-quad-in-out), background-color var(--ease-quad-in-out), border-color 200ms var(--ease-quad-in-out);
    -moz-transition: width 200ms var(--ease-quad-in-out), height 200ms var(--ease-quad-in-out), background-color var(--ease-quad-in-out), border-color 200ms var(--ease-quad-in-out);
    -o-transition: width 200ms var(--ease-quad-in-out), height 200ms var(--ease-quad-in-out), background-color var(--ease-quad-in-out), border-color 200ms var(--ease-quad-in-out)
}

#cursor-bg.active {
    width: 60px;
    height: 60px;
    background-color: var(--color-white);
    border-color: var(--color-white);
    mix-blend-mode: exclusion
}

#select {
    z-index: 200;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--color-white);
    transition: width 200ms var(--ease-quad-in-out);
    -webkit-transition: width 200ms var(--ease-quad-in-out);
    -moz-transition: width 200ms var(--ease-quad-in-out);
    -o-transition: width 200ms var(--ease-quad-in-out)
}

#select span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.833rem;
    line-height: 1.333rem;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%)
}

#select span::after {
    content: 'select';
    opacity: 0;
    transition: opacity 200ms var(--ease-quad-in-out);
    -webkit-transition: opacity 200ms var(--ease-quad-in-out);
    -moz-transition: opacity 200ms var(--ease-quad-in-out);
    -o-transition: opacity 200ms var(--ease-quad-in-out)
}

#select.active {
    width: 60px;
    height: 60px
}

#select.active span::after {
    opacity: 1
}
